.main-heading {
    background-color: #39a244;
    display: inline-block;
    position:relative;
    left: 25px;
    top: 10px;
}
body {
    font-family: Oswald, sans-serif;
}
.menu {
    background-color: #39a244;
    position: absolute;
    right: 25px;
    top: 10px;
}

.background-panel {
    background-color: #39a244;
    width: 100%;
    height: 250px;
    position:relative;
    display: flex;
    flex-wrap:initial
}
.hero {
    width: 100%;
    height: 600px;
    background: url("./images/planet.png") no-repeat center center/cover;
}

#header {
    background-color: #39a244;
    font-size: large;
    font-family: Oswald, sans-serif;
    padding-bottom: 30px;
}
#wallpaper {
    background-image: link(href="https://nohat.cc/f/lbp-large-lbp-in-2019-little-big-planet-planets-little-planet/comdlpng6973713-201911121202.html");
    z-index: -2;
    position: fixed;
}
.card {
    border: 10px;
    flex-shrink: 1;
    background-color: #fff;
    border-color: #000;
    gap:15px;
}
section {
    position: relative;
}
#footer1 {
    background-color: #39a244;
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: larger;
    padding-top: 30px;
    height: 80px;
    position: static;
    bottom: 0px;
}